name: Land
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-push:
    uses: ./.github/workflows/reusable-docker-build.yml
    with:
      image_name: greycollar
      context_path: .
      tag_prefix: land-
      install_dependencies: true
      dependency_path: .
      run_lint: true
      run_build: true
      setup_config: true
      config_source: ./dashboard/config.land.js
      config_dest: ./dashboard/config.js
      api_config_source: ./api/config.land.ts
      api_config_dest: ./api/config.ts
      update_version: true
      version_file_path: ./dashboard/src/version.json
    secrets:
      DOCKER_ACCESS_TOKEN: ${{ secrets.DOCKER_ACCESS_TOKEN }}
      DOCKER_USERNAME: canmingir